<div class="hcontainer">
<div id="headerwrap">
		<img src="assets/img/Code.png" style="width: 100%;">
		<div class="container">
		<h1>Hello and welcome!</h1>
		</div> <!-- /container -->
		<div class="container">
		<h1>I'm Cameron.</h1>
		</div> <!-- /container -->
		<div class="container">
		<h1>This is my portfolio. I am studying, a MSc in Commercial Games Development at UWE. While currently looking for employment opportunities</h1>
		</div> <!-- /container -->
		<div class="container">
		<h1>Take a look at my work!</h1>
		</div> <!-- /container -->
</div><!-- /headerwrap -->
</div> <!-- /container -->
